a[aria-selected="true"]{
	background-color: #b3d9ff !important;
	border-bottom-color: #b3d9ff !important;
}

a[aria-selected="false"]{
	color: grey !important;
}

.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;;
}
body {
    background: url("../images/login-bgd.jpg") 0 0 no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}

